/* FONTS */
@font-face {
  font-family: poppinsRegular;
  src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: popinsLight;
  src: url(../fonts/Poppins-ExtraLight.ttf);
}

:root {
  /* COLORS */
  --bg-primary: #f20746;
  --bg-secondary: #2B010D;
  --bg-secondary-light: #32010d;
  --white: #fff;
  --black: #1a1a1a;
  --black-ligth: #2e2e2e;
  --gray-ligth: #a7a7a7;
  --gray-dark: #4D4D4D;
  --bg-yellow: #FAC20B;
  --bg-red: #fa0f07;

  /* FONTS */
  --font_primary: poppinsRegular;
  --font_secondary: poppinsLight;

  /* FONT SIZEs */
  --text-title-1: 50px;
  --text-title-2: 32px;
  --text-title-3: 24px;
  --text-title-4: 16px;

  --text-subtitle-1: 14px;
  --text-subtitle-2: 12px;
  --text-subtitle-3: 10px;
  --text-subtitle-4: 8px;

  --text-primary: 30px;
  --text-secondary: 16px;

  --text-imput: 24px;
  --text-imput-mobile: 16px;

  --btn-text-primary: 16px;

  /* PADDING */
  --p: 100px;
  --p-main: 0 var(--p) 0;
  --p-mobile: 20px;
  --p-main-mobile: 0 var(--p-mobile) 0;
}

.btn{
  outline: none;
  cursor: pointer;
  border: none;
}

.container{
  height: calc(100vh - 70px);
  padding: var(--p-main);
  box-sizing: border-box;
  position: relative;
}
.stepNext{
  background-color: var(--bg-primary);
  color: var(--white);
  padding: 10px 0;
  font-size: 20px;
  border-radius: 5px;
}
@media (max-width: 820px) {
  .container {
    padding: var(--p-main-mobile);
  }
}
