/* FONTS */
@font-face {
  font-family: poppinsRegular;
  src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: popinsLight;
  src: url(../fonts/Poppins-ExtraLight.ttf);
}

:root{
  /* COLORS */
    --bg-primary: #F20746;
    --white: #fff;
    --black: #1A1A1A;

  /* FONTS */
    --font_primary: poppinsRegular;
    --font_secondary: poppinsLight;

  /* FONT SIZEs */
    --btn-text-primary: 16px;

  /* PADDING */
  --p-main: 0 120px 0;
}

